<!DOCTYPE html>
<html>
  <head>
    <title>Bat's Tasks</title>
  </head>
  <body>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Bat Tasks</h1>

    <style>
      pre{
          font-family: monospace;
          white-space: pre-wrap;
      }
      </style>
      <pre>





                                                                                        _..-'(                       )`-.._
                                                                                     ./'. '||\\.       (\_/)       .//||` .`\.
                                                                                  ./'.|'.'||||\\|..    )O O(    ..|//||||`.`|.`\.
                                                                               ./'..|'.|| |||||\`````` '`"'` ''''''/||||| ||.`|..`\.
                                                                             ./'.||'.|||| ||||||||||||.     .|||||||||||| |||||.`||.`\.
                                                                            /'|||'.|||||| ||||||||||||{     }|||||||||||| ||||||.`|||`\
                                                                           '.|||'.||||||| ||||||||||||{     }|||||||||||| |||||||.`|||.`
                                                                          '.||| ||||||||| |/'   ``\||``     ''||/''   `\| ||||||||| |||.`
                                                                          |/' \./'     `\./         \!|\   /|!/         \./'     `\./ `\|
                                                                          V    V         V          }' `\ /' `{          V         V    V
                                                                          `    `         `               V               '         '    '
                                                                          
                                                                          
                                                                          
                                                                          
                                                                          
                                                                          
                                                                                                    <b>Main APIS:</b>
                                                                        
                                                                                              GET URL/ = This Index
                                                                                        GET URL/tasks = Full list of all tasks
                                                                                      GET /sorted_tasks = task sorted by urgent
                                                                                        PUT /task/id = Updating existing tasks
                                                                                         POST URL/task = Inserting a new tasks                                                                                    
                                                                                            DELETE /task/id = Delete a task
                                                                                            
                                                                          
      </pre>

  

</pre>

  </body>
</html>



